html {
    font-family:Arial, Helvetica, sans-serif
}

header {
    display: inline flex;
    height: 64px;
    margin-left: 24px;
    margin-right: 24px;
}

header left{
    display: flex;
    align-items: center;
}
header left {
    logo {
        height: 32px;
        transform:scale(1.4);
    }
}
header left h3 {
    color: #808080;
    font-weight: 100;
}
header left h3 strong {
    font: weight 8p;
    color: #383838;
}
header right{
    display: inline-flex;
    align-items: center;
    position: absolute;
    right:24px;
    color: #383838;
    h3 {
        margin-left: 8px;
        margin-right: 8px;
        font-weight: 200;
    }
}
.block-1{
    background-color: #dcdcdc;
    margin: 32px 0px;
    display: flex;
    flex-direction: row-reverse;
    background-size: cover;
    align-items: center;
}

.block-1 left img{
    width: 60%;
    margin: 32px 24px;
}
.block-1 .right{
    position: relative;
    right:200px;
    color: #383838;
    .button{
        color: white;
        text-align: center;
        background-color: #383838;
        width: 75%;
        padding: 8px 0px;
        font-weight: 200;
    }
}
.block-2{
    background-color: #ffffff;
    margin: 32px 24px;
    display: flex;
    flex-direction: reverse;
    background-size: cover;
    
}
.block-2 .left{
    img{
        width: 65%;
    }
    .text {
        color: #383838;
        width: 60%;
        h4 {
            font-weight: 100;
        }
        h5 {
            font-weight: 100;
        }
    }
}
.block-2 right {
    position: relative;
    right:150px;
    border-left: thin solid #dcdcdc;
}
.block-2 right top{
    display:flex;
    border-bottom: thick double #dcdcdc;
    h4{
        font-weight: 100;
    }
    h5 {
        color: lightskyblue;
        font-weight: 100;
    }
    img{
        width:35%;
        padding:16px;
    }
}
.block-2 right middle{
    display:flex;
    h4{
        font-weight: 100;
    }
    h5 {
        color: lightskyblue;
        font-weight: 100;
    }
    img{
        width:35%;
        padding:16px;
    }
}
.block-2 right bottom{
    display:flex;
    background-color: #dcdcdc;
    h4{
        font-weight: 100;
    }
    h5 {
        color: lightskyblue;
        font-weight: 100;
    }
    img{
        width:35%;
        padding:16px;
    }
}
.block-3 {
    background-color: #dcdcdc;
    padding-bottom: 32px;
}
.block-3 h1{
    text-align: center;
    color: #383838;
    padding-top: 32px;
}
.block-3 .boxes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:32px 72px;
}
.block-3 .boxes .box-1{
    width: 30%;
    background-color: white;
    margin:16px;
    color: #383838;
    img{
        width:100%;
    }
}
.block-3 .boxes .box-2{
    width: 30%;
    background-color: white;
    margin:16px;
    color: #383838;
    img{
        width:100%;
    }
}
.block-3 .boxes .box-3{
    width: 30%;
    background-color: white;
    margin:16px;
    color: #383838;
    img{
        width:100%;
    }
}
.block-3 .boxes .box-4{
    width: 30%;
    background-color: white;
    margin:16px;
    color: #383838;
    img{
        width:100%;
    }
}
.block-3 .boxes .box-5{
    width: 30%;
    background-color: white;
    margin:16px;
    color: #383838;
    img{
        width:100%;
    }
}
.block-3 .boxes .box-6{
    width: 30%;
    background-color: white;
    margin:16px;
    color: #383838;
    img{
        width:100%;
    }
}